/* basic styling */
/* COMP220_Assignment_1, Man Fai Kwan, 301279252, and 7/10/23,*/
p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: bisque;
  }

  h1 {
    background-color: blanchedalmond;
    font-size: larger;
  }

  li {
    display: inline;
  }

  ul {
    background-color:chartreuse;
  }