<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
  </head>
  <nav>
    <img src="/images//KMF.png" alt="Logo">
  </nav>