<nav>  <!--partial for nevigation bar for every page-->
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/aboutme">About Me</a></li>
      <li><a href="/projects">Project</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/contacts">Contact</a></li>
    </ul>
  </nav>