<% include partials/header.ejs %> <!--use partial of the header-->

  <body>
    <% include partials/nav.ejs %> <!--use partial of the nevigation bar-->
    <h1><%= title %></h1>
    <img src="/images//pp.png" alt="profile pic">
    <p><%= selfdec %></p>
    <a href="/Resume_KwanManFai-1.pdf" target="_blank">Download PDF</a>
  </body>

<% include partials/footer.ejs %> <!--use partial of the footer-->