<% include partials/header.ejs %>

  <body>
    <% include partials/nav.ejs %>
    <h1><%= title %></h1>
    <p><%= Mission %></p>
    <a href="/aboutme">About Man Fai Kwan</a>
  </body>

<% include partials/footer.ejs %>
